.card_container img {
    background: white;
    width: auto;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.card_container img:hover {
    background-color: gray;
}

.card {
    width: auto;
    height: 300px;
    margin-top: 5px;
    background: white;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

@media only screen and (max-width: 360px) {
    .card_container img {
        background: white;
        width: 150px;
        height: 100px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .card_container img:hover {
        background-color: gray;
    }
}